.media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 95px;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  @media (min-width: 769px) and (max-width: 1239px) {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 50px;
  }
}

.vignette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 30px;
  @media (max-width: 768px) {
    width: 90%;
    margin: auto;
  }
  @media (min-width: 769px) and (max-width: 1239px) {
    min-width: 335px;
    margin: auto;
  }
  &__photo {
    width: 350px;
    height: 300px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
    @media (max-width: 768px) {
      max-width: 300px;
      margin: 10px auto;
    }
    @media (min-width: 769px) and (max-width: 1239px) {
      width: 300px;
      margin: auto;
    }
  }
  &__video {
    width: 350px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 5px;
    @media (max-width: 768px) {
      width: 300px;
      margin: 10px auto;
    }
    @media (min-width: 769px) and (max-width: 1239px) {
      width: 300px;
      margin: auto;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  &__like {
    display: flex;
    &__nbr {
      color: $color-prim;
      font-size: 1.2rem;
      align-self: center;
    }
    @media (max-width: 768px) {
    }
    @media (min-width: 769px) and (max-width: 1239px) {
    }
  }
  &__img {
    margin-left: 5px;
    cursor: pointer;
  }
  &__titre {
    color: $color-prim;
    font-size: 1.2rem;
  }
  @media (max-width: 768px) {
  }
  @media (min-width: 769px) and (max-width: 1239px) {
  }
}
