* {
  font-family: "DM Sans", sans-serif;
  list-style-type: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 1440px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #901C1C;
}

.nav__ul, header, nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tag {
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  padding: 0 0.6rem;
  margin: 0 0.1rem;
  align-self: center;
  cursor: pointer;
  color: #901C1C;
}
.tag:hover {
  background-color: #901C1C;
  color: white;
}
.tag:hover span:hover {
  color: white;
}

.tag span {
  font-size: 12px;
  font-weight: 500;
}

header {
  margin-top: 2.8rem;
  margin-bottom: 4rem;
}

.logo {
  width: 200px;
  text-align: center;
  flex: 1;
}

nav {
  flex: 2;
}

.header__titre {
  color: #901C1C;
  font-weight: normal;
  font-size: 2.5rem;
  text-align: center;
}

#main__index {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 458px 458px;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user__lien {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user__img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.user__titre {
  font-size: 2.5rem;
  color: #D3573C;
  font-weight: 400;
  text-align: center;
}
.user__lieu {
  font-size: 0.8rem;
  color: #901C1C;
  text-align: center;
}
.user__para {
  font-size: 0.6rem;
  text-align: center;
  margin: 0.2rem auto;
}
.user__prix {
  font-size: 0.55rem;
  color: #757575;
  text-align: center;
  margin-bottom: 0.5rem;
}
.user__tag {
  display: flex;
  cursor: pointer;
  color: #901C1C;
}

.supprime {
  display: none;
}

.header__logo {
  text-align: left;
}

#contenu {
  background-color: #DB8876;
  border-radius: 5px;
  width: 15%;
  font-weight: bold;
  font-size: 1.5rem;
  padding-left: 1.3rem;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.2s;
  visibility: hidden;
}

#contenu a {
  text-decoration: none;
  color: black;
}

.photographe {
  background-color: #FAFAFA;
  height: 313px;
  padding: 63px 50px 0 50px;
  display: grid;
  grid-template-columns: 1fr 2fr 200px;
}
.photographe__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.photographe__contact {
  height: 69px;
  width: 170px;
  color: white;
  background-color: #901C1C;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.photographe__contact:hover {
  background-color: #D3573C;
  color: black;
}

.info__titre {
  font-size: 2.5rem;
  color: #D3573C;
  font-weight: 400;
  text-align: center;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 1rem;
}
.info__lieu {
  font-size: 0.8rem;
  color: #901C1C;
  text-align: center;
  text-align: left;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.info__para {
  font-size: 0.6rem;
  text-align: center;
  margin: 0.2rem auto;
  text-align: left;
  font-size: 0.9rem;
  color: #525252;
  margin-bottom: 1.2rem;
}
.info__tag {
  display: flex;
  font-size: 18px;
}

.selection {
  margin-top: 20px;
  margin-bottom: 58px;
}
.selection__tri {
  font-weight: 700;
  margin-right: 20px;
}
.selection__triage {
  background-color: #901C1C;
  color: white;
  border: none;
  height: 69px;
  width: 170px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}
.selection__triage:hover {
  background-color: #D3573C;
  color: black;
}

.media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.vignette {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 350px;
  margin-bottom: 30px;
}
.vignette__photo {
  width: 350px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
}
.vignette__like {
  display: flex;
}
.vignette__like__nbr {
  color: #901C1C;
  font-size: 1.2rem;
}
.vignette__img {
  margin-left: 5px;
}
.vignette__titre {
  color: #901C1C;
  font-size: 1.2rem;
}

/*# sourceMappingURL=style.css.map */
