.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.95);
  z-index: 10;
  &__next,
  &__prev {
    border: none;
    background: url(./photos/fleche.svg) center center / 30px 48px no-repeat;
    width: 60px;
    height: 48px;
    position: fixed;
    top: 50%;
    right: 0;
    margin-top: -48px;
    z-index: 11;
    @media (max-width: 768px) {
      width: 30px;
      height: 24px;
    }
    @media (min-width: 769px) and (max-width: 1239px) {
      width: 40px;
      height: 32px;
    }
  }
  &__prev {
    right: auto;
    left: 0;
    transform: rotate(180deg);
  }
  &__close {
    border: none;
    width: 42px;
    height: 42px;
    background: url(./photos/croix-rouge.svg) center center / 42px 42px
      no-repeat;
    position: fixed;
    top: 20px;
    right: 10px;
    &:hover {
      opacity: 1;
    }
    @media (max-width: 768px) {
      width: 21px;
      height: 21px;
    }
    @media (min-width: 769px) and (max-width: 1239px) {
      width: 21px;
      height: 21px;
    }
  }
  & button {
    opacity: 0.8;
    transition: 0.3s;
    cursor: pointer;
    text-indent: -30000px;
    z-index: 12;
    &:hover {
      opacity: 1;
    }
  }
  &__container {
    margin: auto;
    box-sizing: border-box;
    margin-top: 5%;
    max-width: 1240px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    & img {
      max-width: 85%;
      max-height: 85%;
      border-radius: 5px;
    }
    & video {
      max-width: 85%;
      max-height: 85%;
      border-radius: 5px;
    }
    @media (min-width: 769px) and (max-width: 1239px) {
      max-width: 1239px;
    }
    @media (max-width: 768px) {
      max-width: 768px;
    }
  }
  &__titre {
    color: $color-prim;
    font-size: 1.5rem;
    align-self: flex-start;
    margin-top: 0.5rem;
  }
}
