.nav__ul, header, nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tag{
    @include tag-box;
    cursor: pointer;
    color: $color-prim;
    &:hover{
        background-color: $color-prim;
        color: white;
        & span{
            &:hover{
                color: white;
            }
        
        }
    }
}


.tag span{
    font-size: 12px;
    font-weight: 500;
}

header{
    margin-top: 2.8rem;
    margin-bottom: 4rem;
}

.logo {
    width: 200px;
    text-align: center;
    flex: 1;
}

nav{
    flex: 2;
}

.header__titre{
    color: $color-prim;
    font-weight: normal;
    font-size: 2.5rem;
    text-align: center;
}

