#main__index{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 458px 458px;
    @media (max-width : 768px) {
        grid-template-columns: 1fr;
    }
    @media (min-width : 769px) and (max-width : 1239px) {
        grid-template-columns: 1fr 1fr;
    }
}

.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__lien{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img{
        @include user-img;
    }
    &__titre{
        @include user-titre;
        @media (max-width : 768px) {
            font-size: 2.3rem;
        }

    }
    &__lieu{
        @include user-lieu;
    }
    &__para{
        @include user-para;
    }
    &__prix{
        @include user-prix;
    }
    &__tag{
        display: flex;
        cursor: pointer;
        color: $color-prim;
        @media (max-width : 768px) {
            flex-wrap: wrap;
        }
    }
}

.supprime{
    display: none;
}